<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="02_Basic&Core_EventTiming.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="02_Basic&Core_EventTiming.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Events</h1>
    </header>
    <section id="assignment">
      <h2>Event Timing</h2>
      First : <input type="text" v-model="firstName"/>
      Second : <input type="text" v-model="secondName"/>
      <p>Hello {{ fullName }} San!</p>
      <hr />
      <!-- <button v-on:click="send">Send Message</button> -->
      <button @click="send">Send Message</button>
      <!-- <input type="text" v-bind:value="message" disabled="true" size="80"></input> -->
      <input type="text" :value="message" disabled="true" size="80"></input>
    </section>
  </body>
</html>
